
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>


<head>
	<meta charset="utf-8" />
  <title><%= @title %></title>
 	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Proj1Stonebraker", my_info_site_infopage_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to 'Info Page', my_info_site_infopage_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'My Favorites Page', my_info_site_myfavorites_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Photos Page', my_info_site_photos_path %></li>
    </ul>
  </div>
</nav>
<div class="row">
    <div class="large-8 columns">
      <%= yield %>
    </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
