<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'library' %>
</head>
<body>

<h1><%= @title %></h1>

<table>
<tr>
    <td><%= link_to 'Info Page', my_info_site_infopage_path %></td>
    <td><%= link_to 'My Favorites Page', my_info_site_myfavorites_path %></td>
    <td><%= link_to 'Photos Page', my_info_site_photos_path %></td> </td>
</tr>
</table>

<hr />

<%= yield %>

</body>
</html>
