
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'library' %>
</head>
<body>

<h1><%= @title %></h1>

<table>
<tr>
    <td><%= link_to 'Welcome Page', info_welcome_path %></td>
    <td><%= link_to 'Staff Listings Page', info_staff_path %></td>
    <td><%= link_to 'Policies Page', info_policies_path %></td> </td>    
</tr>
</table>

<hr />

<%= yield %>

</body>
</html>
